

body{
    position: relative;
    font-family: monospace;
    display: flex;
    background-color: rgba(255, 99, 71, 0.096);
}

h1{
    position: absolute;
    font-family: 'Nixie One', cursive;

}

.container{

    position: relative;
    display: grid;
    padding: 50px;
    margin:auto;
    width:70vw;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0px 0px 30px rgba(255, 99, 71, 0.425);
    grid-template-columns: auto auto;
    grid-gap: 50px;


}


.item{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
    transition: box-shadow, 0.3s;

}


.item:hover{

    transition: box-shadow, transform  0.3s;
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.966);

}

.orange:hover{
    box-shadow: 0px 0px 30px orange;
}

.blue:hover{
    box-shadow: 0px 0px 30px blue;
}

.green:hover{
    box-shadow: 0px 0px 30px greenyellow;
}

.red:hover{
    box-shadow: 0px 0px 30px red;
}

#orange{
    color: orange;
}

#blue{
    color: blue;
}

#green{
    color: greenyellow;
}

#red{
    color: red;
}