






body{

    margin: 0;
    padding: 0;



    .scroll-tracker{

        background-color: aqua;
        position: fixed;
        inset: 0 0 auto;
        height: 10px;

    }

    header{

        height: 200vh;
        width: 100%;
        background-color: beige;

    }   

    section{



    }


}