body{
    background-color: coral;
    margin: 0;
    overflow-x: hidden;
}

.background{
    position: absolute;

    top: 0;
    width: 100%;
    z-index: -1;
}
.firstSlant{
    margin: auto;
    position: relative;
    top: 70vh;
    right: 50vw;
    height: 100vh;
    width: 200vw;
    background-color: cadetblue;
    transform:rotate(-8deg);
}
.secondSlant{
    margin: auto;
    position: relative;
    top: 50vh;
    right: 50vw;
    height: 100vh;
    width: 200vw;
    background-color: chocolate;
    transform:rotate(7deg);
}



.splashContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}

.splashContainer{
    margin: 20px;
    width: 45vw;
}

.splashTitle{
   
    font-family: 'Crimson Pro', serif;
    font-size: 3em;
    color: rgb(255, 244, 244);
}

.splashText{

    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;


}

.splashImg{
    width: 45vw;
    height: 100%;
    background-color: chartreuse;
    margin: auto;
}

.boxContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: auto;
    background-color: beige;
    width: 90vw;

}

.box{

    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;

    background-color: bisque;
    width: 40vw;
    height: 100px;

}

.boxTitle{
    font-family: 'Crimson Pro', serif;

}

.boxText{

}